/* css area */
/* Css by Class */
.box {
  background-color: aqua;
  color: red;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  height: 500px;
  width: 500px;
  background-image: url("../images/1.jpg");
}

.box2 {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  color: blue;
  box-sizing: border-box;
}

.fancy {
  background-color: yellow;
  /* color: red; */
  font-size: 16px;
  padding: 20px;
}

/* css by ID */
#abc {
  background-color: red;
}

/* css by Element/Tag */
/* B {
        font-size: 40px;
        color: blue;
      } */
DIV {
  font-size: 10px;
}

/* css by reference */
/*  Direct child*/
/* DIV > B {
        font-size: 40px;
        color: blue;
      }
      /* any level child */
/* DIV B {
        font-size: 40px;
        color: blue;
      } */

/* .box2 B {
        font-size: 40px;
        color: blue;
      } */

#abc B {
  font-size: 40px;
  color: blue;
}

/* Parallel CSS */
div,
b,
i,
u {
  font-size: 12px;
}
